<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mie.sa.dao.BillMapper" >
  <resultMap id="BaseResultMap" type="com.mie.sa.entity.Bill" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="bill_type" property="bill_type" jdbcType="TINYINT" />
    <result column="bill_describe" property="bill_describe" jdbcType="VARCHAR" />
    <result column="bill_amount" property="bill_amount" jdbcType="DECIMAL" />
    <result column="bill_remark" property="bill_remark" jdbcType="VARCHAR" />
    <result column="bill_user" property="bill_user" jdbcType="VARCHAR" />
    <result column="bill_dispatch_type" property="bill_dispatch_type" jdbcType="TINYINT" />
    <result column="bill_dispatch_status" property="bill_dispatch_status" jdbcType="TINYINT" />
    <result column="bill_dispatch_order" property="bill_dispatch_order" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="is_delete" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bill_type, bill_describe, bill_amount, bill_remark, bill_user, bill_dispatch_type, 
    bill_dispatch_status, bill_dispatch_order, create_time, update_time, is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mie.sa.entity.BillExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sa_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sa_bill
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sa_bill
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mie.sa.entity.BillExample" >
    delete from sa_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mie.sa.entity.Bill" useGeneratedKeys="true" keyProperty="id" >
    <bind name="_uuid" value="@com.mie.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into sa_bill (id, bill_type, bill_describe, 
      bill_amount, bill_remark, bill_user, 
      bill_dispatch_type, bill_dispatch_status, 
      bill_dispatch_order, create_time, update_time, 
      is_delete)
    values (#{_uuid}, #{bill_type,jdbcType=TINYINT}, #{bill_describe,jdbcType=VARCHAR}, 
      #{bill_amount,jdbcType=DECIMAL}, #{bill_remark,jdbcType=VARCHAR}, #{bill_user,jdbcType=VARCHAR}, 
      #{bill_dispatch_type,jdbcType=TINYINT}, #{bill_dispatch_status,jdbcType=TINYINT}, 
      #{bill_dispatch_order,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, 
      #{is_delete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mie.sa.entity.Bill" useGeneratedKeys="true" keyProperty="id" >
    <bind name="_uuid" value="@com.mie.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into sa_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="bill_type != null" >
        bill_type,
      </if>
      <if test="bill_describe != null" >
        bill_describe,
      </if>
      <if test="bill_amount != null" >
        bill_amount,
      </if>
      <if test="bill_remark != null" >
        bill_remark,
      </if>
      <if test="bill_user != null" >
        bill_user,
      </if>
      <if test="bill_dispatch_type != null" >
        bill_dispatch_type,
      </if>
      <if test="bill_dispatch_status != null" >
        bill_dispatch_status,
      </if>
      <if test="bill_dispatch_order != null" >
        bill_dispatch_order,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="is_delete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{_uuid},
      <if test="bill_type != null" >
        #{bill_type,jdbcType=TINYINT},
      </if>
      <if test="bill_describe != null" >
        #{bill_describe,jdbcType=VARCHAR},
      </if>
      <if test="bill_amount != null" >
        #{bill_amount,jdbcType=DECIMAL},
      </if>
      <if test="bill_remark != null" >
        #{bill_remark,jdbcType=VARCHAR},
      </if>
      <if test="bill_user != null" >
        #{bill_user,jdbcType=VARCHAR},
      </if>
      <if test="bill_dispatch_type != null" >
        #{bill_dispatch_type,jdbcType=TINYINT},
      </if>
      <if test="bill_dispatch_status != null" >
        #{bill_dispatch_status,jdbcType=TINYINT},
      </if>
      <if test="bill_dispatch_order != null" >
        #{bill_dispatch_order,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_delete != null" >
        #{is_delete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mie.sa.entity.BillExample" resultType="java.lang.Integer" >
    select count(*) from sa_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sa_bill
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.bill_type != null" >
        bill_type = #{record.bill_type,jdbcType=TINYINT},
      </if>
      <if test="record.bill_describe != null" >
        bill_describe = #{record.bill_describe,jdbcType=VARCHAR},
      </if>
      <if test="record.bill_amount != null" >
        bill_amount = #{record.bill_amount,jdbcType=DECIMAL},
      </if>
      <if test="record.bill_remark != null" >
        bill_remark = #{record.bill_remark,jdbcType=VARCHAR},
      </if>
      <if test="record.bill_user != null" >
        bill_user = #{record.bill_user,jdbcType=VARCHAR},
      </if>
      <if test="record.bill_dispatch_type != null" >
        bill_dispatch_type = #{record.bill_dispatch_type,jdbcType=TINYINT},
      </if>
      <if test="record.bill_dispatch_status != null" >
        bill_dispatch_status = #{record.bill_dispatch_status,jdbcType=TINYINT},
      </if>
      <if test="record.bill_dispatch_order != null" >
        bill_dispatch_order = #{record.bill_dispatch_order,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null" >
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_time != null" >
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.is_delete != null" >
        is_delete = #{record.is_delete,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sa_bill
    set id = #{record.id,jdbcType=VARCHAR},
      bill_type = #{record.bill_type,jdbcType=TINYINT},
      bill_describe = #{record.bill_describe,jdbcType=VARCHAR},
      bill_amount = #{record.bill_amount,jdbcType=DECIMAL},
      bill_remark = #{record.bill_remark,jdbcType=VARCHAR},
      bill_user = #{record.bill_user,jdbcType=VARCHAR},
      bill_dispatch_type = #{record.bill_dispatch_type,jdbcType=TINYINT},
      bill_dispatch_status = #{record.bill_dispatch_status,jdbcType=TINYINT},
      bill_dispatch_order = #{record.bill_dispatch_order,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      is_delete = #{record.is_delete,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mie.sa.entity.Bill" >
    update sa_bill
    <set >
      <if test="bill_type != null" >
        bill_type = #{bill_type,jdbcType=TINYINT},
      </if>
      <if test="bill_describe != null" >
        bill_describe = #{bill_describe,jdbcType=VARCHAR},
      </if>
      <if test="bill_amount != null" >
        bill_amount = #{bill_amount,jdbcType=DECIMAL},
      </if>
      <if test="bill_remark != null" >
        bill_remark = #{bill_remark,jdbcType=VARCHAR},
      </if>
      <if test="bill_user != null" >
        bill_user = #{bill_user,jdbcType=VARCHAR},
      </if>
      <if test="bill_dispatch_type != null" >
        bill_dispatch_type = #{bill_dispatch_type,jdbcType=TINYINT},
      </if>
      <if test="bill_dispatch_status != null" >
        bill_dispatch_status = #{bill_dispatch_status,jdbcType=TINYINT},
      </if>
      <if test="bill_dispatch_order != null" >
        bill_dispatch_order = #{bill_dispatch_order,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_delete != null" >
        is_delete = #{is_delete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mie.sa.entity.Bill" >
    update sa_bill
    set bill_type = #{bill_type,jdbcType=TINYINT},
      bill_describe = #{bill_describe,jdbcType=VARCHAR},
      bill_amount = #{bill_amount,jdbcType=DECIMAL},
      bill_remark = #{bill_remark,jdbcType=VARCHAR},
      bill_user = #{bill_user,jdbcType=VARCHAR},
      bill_dispatch_type = #{bill_dispatch_type,jdbcType=TINYINT},
      bill_dispatch_status = #{bill_dispatch_status,jdbcType=TINYINT},
      bill_dispatch_order = #{bill_dispatch_order,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      is_delete = #{is_delete,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="insertBatch" parameterType="com.mie.sa.entity.Bill" >
    insert into sa_bill (id, bill_type, bill_describe, 
      bill_amount, bill_remark, bill_user, 
      bill_dispatch_type, bill_dispatch_status, 
      bill_dispatch_order, create_time, 
      update_time, is_delete) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.bill_type,jdbcType=TINYINT}, #{item.bill_describe,jdbcType=VARCHAR}, 
        #{item.bill_amount,jdbcType=DECIMAL}, #{item.bill_remark,jdbcType=VARCHAR}, #{item.bill_user,jdbcType=VARCHAR}, 
        #{item.bill_dispatch_type,jdbcType=TINYINT}, #{item.bill_dispatch_status,jdbcType=TINYINT}, 
        #{item.bill_dispatch_order,jdbcType=VARCHAR}, #{item.create_time,jdbcType=TIMESTAMP}, 
        #{item.update_time,jdbcType=TIMESTAMP}, #{item.is_delete,jdbcType=TINYINT})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.mie.sa.entity.BillExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sa_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>