<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mie.sa.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.mie.sa.entity.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="wx_openId" property="wx_openId" jdbcType="VARCHAR" />
    <result column="user_alipay_account" property="user_alipay_account" jdbcType="VARCHAR" />
    <result column="user_name" property="user_name" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="is_delete" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, wx_openId, user_alipay_account, user_name, create_time, update_time, is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mie.sa.entity.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sa_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sa_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sa_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mie.sa.entity.UserExample" >
    delete from sa_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mie.sa.entity.User" useGeneratedKeys="true" keyProperty="id" >
    <bind name="_uuid" value="@com.mie.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into sa_user (id, wx_openId, user_alipay_account, 
      user_name, create_time, update_time, 
      is_delete)
    values (#{_uuid}, #{wx_openId,jdbcType=VARCHAR}, #{user_alipay_account,jdbcType=VARCHAR}, 
      #{user_name,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, 
      #{is_delete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mie.sa.entity.User" useGeneratedKeys="true" keyProperty="id" >
    <bind name="_uuid" value="@com.mie.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into sa_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="wx_openId != null" >
        wx_openId,
      </if>
      <if test="user_alipay_account != null" >
        user_alipay_account,
      </if>
      <if test="user_name != null" >
        user_name,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="is_delete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{_uuid},
      <if test="wx_openId != null" >
        #{wx_openId,jdbcType=VARCHAR},
      </if>
      <if test="user_alipay_account != null" >
        #{user_alipay_account,jdbcType=VARCHAR},
      </if>
      <if test="user_name != null" >
        #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_delete != null" >
        #{is_delete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mie.sa.entity.UserExample" resultType="java.lang.Integer" >
    select count(*) from sa_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sa_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.wx_openId != null" >
        wx_openId = #{record.wx_openId,jdbcType=VARCHAR},
      </if>
      <if test="record.user_alipay_account != null" >
        user_alipay_account = #{record.user_alipay_account,jdbcType=VARCHAR},
      </if>
      <if test="record.user_name != null" >
        user_name = #{record.user_name,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null" >
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_time != null" >
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.is_delete != null" >
        is_delete = #{record.is_delete,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sa_user
    set id = #{record.id,jdbcType=VARCHAR},
      wx_openId = #{record.wx_openId,jdbcType=VARCHAR},
      user_alipay_account = #{record.user_alipay_account,jdbcType=VARCHAR},
      user_name = #{record.user_name,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      is_delete = #{record.is_delete,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mie.sa.entity.User" >
    update sa_user
    <set >
      <if test="wx_openId != null" >
        wx_openId = #{wx_openId,jdbcType=VARCHAR},
      </if>
      <if test="user_alipay_account != null" >
        user_alipay_account = #{user_alipay_account,jdbcType=VARCHAR},
      </if>
      <if test="user_name != null" >
        user_name = #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_delete != null" >
        is_delete = #{is_delete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mie.sa.entity.User" >
    update sa_user
    set wx_openId = #{wx_openId,jdbcType=VARCHAR},
      user_alipay_account = #{user_alipay_account,jdbcType=VARCHAR},
      user_name = #{user_name,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      is_delete = #{is_delete,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="insertBatch" parameterType="com.mie.sa.entity.User" >
    insert into sa_user (id, wx_openId, user_alipay_account, 
      user_name, create_time, update_time, 
      is_delete) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.wx_openId,jdbcType=VARCHAR}, #{item.user_alipay_account,jdbcType=VARCHAR}, 
        #{item.user_name,jdbcType=VARCHAR}, #{item.create_time,jdbcType=TIMESTAMP}, #{item.update_time,jdbcType=TIMESTAMP}, 
        #{item.is_delete,jdbcType=TINYINT})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.mie.sa.entity.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sa_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>